<div class="page-header">
  <div class="page-title">Your Orders</div>
</div>

<div class="main">

  <div class="order-card" *ngFor="let order of orders"  
    (click)="goToOrderDetails(order)"
      [style.cursor]="order.status?.toLowerCase() !== 'delivered'
    ? 'pointer'
    : 'default'">

    <div class="order-img">
      <img [src]="order.image" [alt]="order.restaurantName">
    </div>

    <div class="order-details">

      <div class="order-rest">
        {{ order.restaurantName }}
      </div>

      <div class="order-items">

  <ng-container *ngIf="isMobile; else desktopView">
    {{ order.items[0]?.name }} x{{ order.items[0]?.quantity }}
  </ng-container>

  <ng-template #desktopView>
    <ng-container *ngFor="let item of order.items">
      {{ item.name }} x{{ item.quantity }}
    </ng-container>
  </ng-template>

</div>

      <div class="order-meta">
        {{ order.placedAt| timeAgo  }} • {{ order.items.length }} items
      </div>

    </div>

    <div class="order-right">
      <div class="order-amount">
        ₹{{ order.total }}
      </div>

     <div
  class="status-badge"
  [ngClass]="{
    'status-delivered': order.status?.toLowerCase() === 'delivered',
    'status-cancelled': order.status?.toLowerCase() === 'cancelled',
    'status-placed': order.status?.toLowerCase() === 'placed',
    'status-confirmed': order.status?.toLowerCase() === 'confirmed',
    'status-preparing': order.status?.toLowerCase() === 'preparing',
    'status-out-for-delivery': order.status?.toLowerCase() === 'out_for_delivery'
  }">
  {{ order.status | titlecase }}
 </div>
      
      <button class="reorder-btn"  *ngIf="
    order.status === 'delivered' ||
    order.status === 'cancelled'
  ">Reorder</button>
      
    </div>

  </div>
  

</div>
