
.menu-layout{
  display:flex;
  gap:20px;
  align-items:flex-start;
  width: 100%;
  max-width: 100%;
  overflow:visible;
  margin-top: 30px;
}

/* SIDEBAR CARD */
.sidebar{
  width:190px;

  position:sticky;
  top:90px;
  align-self:flex-start;

  background:#fff;
  border-radius:14px;
  margin-left: 9px;
  /* padding:10px 0; */
  margin-top: 20px;
  box-shadow:0 2px 10px rgba(0,0,0,0.08);
  border:1px solid #f1f1f1;

  height:fit-content;
  flex-shrink:0;

}

/* ITEMS */
.side-item{
  padding:14px 18px;
  font-size:14px;
  color:#555;
  cursor:pointer;

  transition:0.2s ease;
  border-left:3px solid transparent;
  padding-right: 4px;
}

.side-item:hover{
  background:#fafafa;
}

.side-item.active{
  background:#fff3ee;
  color:#ff5a1f;
  border-left:3px solid #ff5a1f;
  font-weight:600;
}

.side-item.active{
  color:#ff5a1f;
  background:#fff3ee;
  border-left:3px solid #ff5a1f;
  font-weight:600;
}

/* CENTER */
.menu-content{
  flex:1;
  min-width:0;
  padding-top: 10px;

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* CATEGORY */
.category-block{
  margin-bottom:30px;
  scroll-margin-top: 120px;
}


.category-title{
  font-size:22px;
  font-weight:700;
  margin-bottom:16px;
}


/* CART */
.menu-cart{
  
  flex-shrink:0;

  position:sticky;
  top:80px;

  height:fit-content;
  transform: scale(0.9);
  box-sizing:border-box
}

/* .cart-summary{
  overflow:visible
} */
@media (max-width: 768px) {
  .sidebar {
    display: none !important;
    /* width: 0 !important;
    padding: 0 !important;
    margin: 0 !important; */
  }

  .menu-layout {
    gap: 0;
    margin-top: 10px;
    /* flex-direction: column; */
  }

 .category-title{
  padding-left:9px;
 }
 .category-block{
  padding: 0 10px;
 }
  /* .menu-layout {
    flex-direction: column;
    gap: 0;
  } */

  /* IMPORTANT: allow full width */
  /* .menu-content {
    width: 100%;
  } */

  /* 🔥 FIX CART VISIBILITY */
  /* .menu-cart {
    position: relative;


    /* transform: none !important;
    /* background: white; */
    /* box-shadow: 0 -2px 10px rgba(0,0,0,0.1); */

    /* } */
    
  

  /* ensure cart content is visible */
  /* .cart-summary {
    display: block !important;
  } */
  
}
