<div class="menu-layout">

  <!-- LEFT SIDEBAR -->
  <div class="sidebar">
    <div
      *ngFor="let category of groupedMenu | keyvalue"
      class="side-item"
      [ngClass]="{'active': activeCategory === category.key}"
      (click)="selectCategory(category.key)"
    >
      {{ category.key }} ({{ category.value.length }})
    </div>
  </div>

  <!-- RIGHT CONTENT -->
  <div class="menu-content">

    <div
      *ngFor="let category of groupedMenu | keyvalue"
      [id]="category.key"
      class="category-block"
    >

      <h3 class="category-title">
        {{ category.key }} ({{ category.value.length }})
      </h3>
     
      <!-- ITEMS LOOP HERE -->
      <app-menu-card
        *ngFor="let item of category.value"
        [item]="item"
        [cart]="cart"
        (add)="menuservice.addToCart($event)"
        (inc)="menuservice.increase($event)"
        (dec)="menuservice.decrease($event)">
      </app-menu-card>
     </div>
    
  </div>
   <div class="menu-cart">
        <div *ngIf="cart.length>0" class="cart-summary">
        <app-cart-summary [id]="cart[0].restaurantId"></app-cart-summary>
    
      </div>
     </div> 
</div>

 
      