<div class="desktop" >
    <div class="py-4 d-flex justify-content-flex-start m-3">

  <div 
    class=" border rounded-3 p-4 w-100 profile-sidebar" 
    style="max-width: 250px;background: white;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 16px;
    height: fit-content;
    margin-right: 20px;"
  >

    
    <div class="text-center " >

      <div 
        class="char"
        
      >
        {{firstchar}}
      </div>

      <h4 class="name">{{name}}</h4>

      <p class="phone">+91 {{phnumber}}</p>
      <div
      class="nav-link menu-link  py-2 px-2"
            [class.active]="selected === 1"
  (click)="selected = 1" (click)=" scrollToCategory('profile')">
      <span>👤</span>
      <span class="nav-link-text" (click)="visiblecomponent=0"
      >Personal info</span>
    </div>
    <div
      class="nav-link menu-link px-2" 
      [class.active]="selected === 2"
  (click)="selected = 2" (click)=" scrollToCategory('address')">
      <span>📍</span>
      <span class="nav-link-text" (click)="visiblecomponent=0">Saved Address</span>
    </div>
    <div
      class="nav-link menu-link py-2 px-2"
      [class.active]="selected === 3"
  (click)="selected = 3">
      <span>📦</span>
      <span class="nav-link-text" (click)="visiblecomponent=1">Order History</span>
    </div>
    <div
      class="nav-link menu-link py-2 px-2" 
      [class.active]="selected === 4"
  (click)="selected = 4">
      <span>🔔</span>
      <span class="nav-link-text" (click)="visiblecomponent=2">Notifications</span>
    </div>
     <div
      class="nav-link menu-link px-2"
      [class.active]="selected === 5"
  (click)="selected = 5" style="margin-right: 15%;">
      <span class="so" >🚪</span>
      <span class="nav-link-text">Sign Out</span>
    </div>
    </div>
   
  </div>
  
  <div class="profile-info w-100" >
    
 <div id="profile" *ngIf=" visiblecomponent===0">
     <app-profile-info></app-profile-info>
 </div>
  <div id="address" *ngIf=" visiblecomponent===0">
    <app-address-form></app-address-form>
  </div>
  <div *ngIf=" visiblecomponent===1">
    <app-order-history></app-order-history>
  </div>
  <div *ngIf=" visiblecomponent===2">
    <app-notification-list></app-notification-list>
  </div>
  
</div>

</div>

</div>
<div class="mobile  justify-content-center">
      <div class="mobile-profile " >
          <div class="m-firstchar">{{firstchar}}</div>
          <div class="m-name">{{name}}</div>
          <div class="m-phone">+91 {{phnumber}}</div>
      </div>
      <div class="m-list">
          <div class="m-list-item" (click)="navigateTo('personalinfo')">
👤 Personal info

      </div>
    <div id="profileinfo" class="collapse hide">

      <div class="card-body">
        <app-profile-info></app-profile-info>
      </div>

    </div>
    <div class="m-list-item" (click)="navigateTo('savedaddress')">
      📍 Saved Address
    </div>

    <div id="savedaddress" class="collapse hide">

          <div class="card-body">
            <app-address-form></app-address-form>
          </div>

    </div>
          <div class="m-list-item" (click)="navigateToo('/orders')">
            📦 Order History
         </div>
      <div id="orderhistory" class="collapse hide">

          <div class="card-body">
           <app-order-history></app-order-history>
          </div>

    </div>
          <div class="m-list-item" (click)="navigateToo('/notifications')">
            🔔 Notifications
        </div>
        <div id="notifycations" class="collapse hide">

          <div class="card-body">
            <app-notification-list></app-notification-list>
          </div>

    </div>
          <div class="m-list-item" >🚪 Sign Out
      </div>
      <div id="signout" class="collapse hide">

          <div class="card-body">
            ...
          </div>

    </div>
      </div>
      
 </div>
<!-- <div class="page-content">
  <router-outlet></router-outlet>
</div> -->
 <!-- <div class="m-list-item" data-bs-toggle="collapse"
        data-bs-target="#notifycations">🔔 Notifications<span><i class="bi bi-chevron-down"></i></span>
      </div><div id="notifycations" class="collapse hide">

          <div class="card-body">
            <app-notification-list></app-notification-list>
          </div>

    </div> -->