<div class="card shadow-sm p-3 order-card "*ngIf=" totalitems>0 && !ismobile">
  <h5 class="fw-bold mb-3">Order summary</h5>

  <div class="d-flex justify-content-between mb-2">
    <span>Subtotal ({{totalitems}} items)</span>
    <span>{{totalprice | currencyFormat}}</span>
  </div>

  <div class="d-flex justify-content-between mb-2">
    <span>Delivery fee</span>
    <span>{{deliveryfee | currencyFormat}}</span>
  </div>

  <div class="d-flex justify-content-between mb-2 text-success fw-medium">
    <span>Discount <span *ngIf="discountamount>0">(</span>{{discounttype}}<span *ngIf="discountamount>0">)</span></span>
    <span><span *ngIf="discountamount>0">₹</span>{{(discountamount)}}</span>
  </div>

  <div class="d-flex justify-content-between fw-bold fs-6 mb-3">
    <span>Total</span>
    <span>{{finalamount | currencyFormat}}</span>
  </div>

  <button class="btn w-100 order-btn"  *ngIf="component==='cart'" (click)="placeOrder()">
  
     <span>Place Order →</span>
   
  </button>
  <button class="btn w-100 order-btn"  routerLink="/cart" *ngIf="component==='menu'">
        <span >Proceed to Checkout →</span>
  </button>

  <div class="alert mt-3 text-center savings-box p-2 mb-0">
    You save {{discountamount | currencyFormat}} on this order!
  </div>
  
</div>
<div class="m-sum"*ngIf="ismobile && component==='cart'&&totalitems>0">
        <div class="m-sum-row"><span>Subtotal</span><span>{{totalprice | currencyFormat}}</span></div>
        <div class="m-sum-row"><span>Delivery</span><span>{{deliveryfee | currencyFormat}}</span></div>
        <div class="m-sum-row"><span style="color:#2e7d32;">Discount</span><span style="color:#2e7d32;"><span *ngIf="discountamount>0">₹</span>{{(discountamount)}}</span></div>
        <div class="m-sum-row grand"><span>Total</span><span>{{finalamount | currencyFormat}}</span></div>
        <button class="m-place-btn">Place order →</button>
</div>
<div class="m-sum" *ngIf="ismobile && component==='menu'&& totalitems>0" style="margin-right: 50%; height: 90px;">
  <div class="cart-bar-m" >
        <div class="cart-bar-left">
          <div class="cart-bar-count">{{totalitems}} items added</div>
          <div class="cart-bar-total">{{finalamount-deliveryfee | currencyFormat}} total</div>
        </div>
        <button class="cart-bar-right" routerLink="/cart">View cart →</button>
 </div>

</div>

<router-outlet></router-outlet>