.order-card {
  padding: top 20px;
  margin-top: auto;
  width: 380px;
  height: 380px;
  border-radius: 12px;
  background-color:white;
}

.order-btn {
  background-color: #ff5722;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
}

.order-btn:hover {
  background-color: #e64a19;
}

.savings-box {
  background-color: #dff0e0;
  color: #2e7d32;
  border-radius: 6px;
  font-size: 13px;
}