<div class="page" *ngIf="restaurant">
    <!-- Breadcrumb + Veg Toggle -->
    <div class="top-bar">
      <nav class="breadcrumb-nav">
        <a routerLink="/">Home</a>
        <span class="sep">></span>
        <span>{{ restaurant.name }}</span>
      </nav>
    </div>

    <!-- Banner -->
   <div class="banner" *ngIf="restaurant">
    <img 
    [src]="restaurant.image" 
    [alt]="restaurant.name">
</div>
  <div class="restaurant-card">
    <!-- Details -->
    <div class="details">

      <div class="top-row">
        <div class="left">
          <h2 class="restaurant-title">{{ restaurant.name }}</h2>
          <p class="restaurant-info">
            {{ restaurant.cuisine.join(', ') }} • {{ restaurant.address }}
          </p>
        </div>

        <div class="veg-toggle">
          <span class="label">Veg Only</span>
          <label class="switch">
            <input type="checkbox" (change)="vegOnly = !vegOnly">
            <span class="slider"></span>
          </label>
        </div>
      </div>

      <!-- BADGES -->
      <div class="badges">
        
          <app-star-rating
            [rating]="restaurant.rating"
            [totalRatings]="restaurant.totalRatings">
          </app-star-rating>
      

        <span class="badge">{{ restaurant.deliveryTime }} min</span>
        <span class="badge">{{ restaurant.deliveryFee | currencyFormat }} delivery</span>
        <span class="badge">Min ₹{{ restaurant.minOrder }}</span>
        <span class="badge rating-count">{{ restaurant.totalRatings }} ratings</span>
      </div>

      <div class="offer" *ngIf="restaurant.offer">
        🏷️ {{ restaurant.offer }}
      </div>

    </div>

  </div>
</div>

<app-menu-list
  *ngIf="restaurant"
  [restaurant]="restaurant"
  [restaurantId]="restaurant.id || 0"
  [vegOnly]="vegOnly">
</app-menu-list>
 

